.map {
  height: 100%;
}

.popup-container {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  bottom: 0;
}

.popup {
  padding: 5px;
  margin: 10px;
  background-color: #39375B;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.showReports,
.mapSettings {
  padding: 0 10px;


  /* input {
    width: 30px;
    height: 30px;
    cursor: pointer;
  } */
}

.rangeSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input {
  width: 75px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #0A2342;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: #0A2342;
    background-color: #39375B;
  }
}

.displayReportsBtn,
.mapSettingsBtn {
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;

  &:hover {
    color: #888bbb;
    /* Tomato color on hover */
    transform: scale(1.2);
  }
}

.filterCheckbox::before {
  content: "";
  width: 22px;
  height: 22px;
  transform: scale(0);
  transition: 300ms transform ease-in-out;
  box-shadow: inset 20px 20px black;
  border-radius: 3px;
}

.filterCheckbox:checked::before {
  transform: scale(1);
}

.filterCheckbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #39375B;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 22px;
  height: 22px;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
  border: 2px solid black;
  border-radius: 3px;
}

.filterCheckbox.red::before {
  box-shadow: inset 20px 20px red;
}
.filterCheckbox.yellow::before {
  box-shadow: inset 20px 20px yellow;
}
.filterCheckbox.lightgreen::before {
  box-shadow: inset 20px 20px lightgreen;
}

.filterCheckboxes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 10px;
}