.map {
  height: 100%;
}

.popup-container {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  bottom: 0;
}

.popup {
  padding: 5px;
  margin: 10px;
  background-color: #39375B;
  border-radius: 5px;
}

.showReports {
  display: flex;
  align-items: center;
  justify-content: center;
    padding: 0 10px;


  input {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.rangeSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input {
  width: 75px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #0A2342;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: #0A2342;
    background-color: #39375B;
  }
}

.displayReportsBtn {
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
    
    &:hover {
        color: #888bbb; /* Tomato color on hover */
        transform: scale(1.2);
    }
}
