.map {
  height: 100%;
}

.popup {
    position: absolute;
    z-index: 100;
    padding: 5px;
    margin: 10px;
    background-color: #39375B;
    border-radius: 5px;
}

.reports {
  width: 30%;
}

.filter-types {
  bottom: 0;
}

/* .report {
  border: 1px solid white;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    justify-content: space-between;
  }

  .times {
    display: flex;
    justify-content: space-between;

    .published_at {
      color: red;
    }
  }
} */

