.listItem {
    border-radius: 5px;
    background-color: #0A2342;
    padding: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    cursor: pointer;

    .icon {
        grid-row: span 2 / span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }

    .name {
        grid-column: span 3 / span 3;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .details {
        grid-column: span 3 / span 3;
        grid-column-start: 2;
        grid-row-start: 2;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .actions {
        grid-row: span 2 / span 2;
        grid-column-start: 5;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: x-large;

        .btn {
            cursor: pointer;
        }
    }
}

.listActionButton {
    margin-right: 8px;
    font-size: x-large;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        color: #0A2342;
        transform: scale(1.5);
    }
}