.main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.map {
    grid-column: 1 / span 2;
    margin: 8px 0 8px 8px;
}

.tags {
    margin: 8px 0 0 0;
}

.reports {
    margin: 8px 0 0 8px;
}