.main {
    display: flex;
    flex-direction: column;
    // height: calc(var(--vh, 1vh) * 80);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.row {
    border-radius: 5px !important;
    border: 1px solid white !important;
}

.noReports {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 1.5rem;
}